<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
</head>

<body>
    <%- include('partials/navbar') %>


        <!-- HERO -->
        <section class="section-homePageHero">
            <div class="px-4 py-5 my-5 text-center">
                <!-- <img class="d-block mx-auto mb-4" src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72"
                    height="57"> -->
                <h1 class="display-3 fw-bold">Family Food Organiser</h1>
                <div class="col-lg-6 mx-auto">
                    <p class="lead mb-4">Quickly find and organise your favorite family meals. Search in
                        categories, get a suggestion and easily add new meals.</p>
                </div>
            </div>
        </section>

        <!-- MAINS -->
        <section class="section-template section-template-opaque section-home-mains mt-4 mb-4">
            <div class="container col-xxl-8 px-4 py-5">
                <div class="row flex-md-row-reverse align-items-center justify-content-center g-5 py-5">
                    <div class="col-md-6">
                        <img src="/assets/undraw_mains.png" class="d-block mx-lg-auto img-fluid" alt="Mains image"
                            loading="lazy">
                    </div>
                    <div class="col-md-6">
                        <h1 class="display-5 fw-bold lh-1 mb-3">Mains</h1>
                        <p class="lead">Feeling hungry like a bear or just need some proper food, this will
                            get you started.</p>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                            <a href="/meals/category/mains?page=1&limit=5"
                                class="btn btn-primary btn-lg px-4 me-md-2">Browse Mains Category</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- BREAKFAST, reversed-->
        <section class="section-template section-template-opaque section-home-breakfast mt-4 mb-4">
            <div class="container col-xxl-8 px-4 py-5">
                <div class="row align-items-center g-5 py-5">
                    <div class="col-md-6">
                        <img src="/assets/undraw_breakfast.png" class="d-block mx-lg-auto img-fluid"
                            alt="Breakfast image" loading="lazy">
                    </div>
                    <div class="col-md-6">
                        <h1 class="display-5 fw-bold lh-1 mb-3">Breakfast</h1>
                        <p class="lead">Lazy Sunday morning brunch or just quick out the door, get started
                            here.</p>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                            <a href="/meals/category/breakfast?page=1&limit=5"
                                class="btn btn-primary btn-lg px-4 me-md-2">Browse Breakfast Category</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- SNACKS -->
        <section class="section-template section-template-opaque section-home-snacks mt-4 mb-4">
            <div class="container col-xxl-8 px-4 py-5">
                <div class="row flex-md-row-reverse align-items-center justify-content-center g-5 py-5">
                    <div class="col-md-6">
                        <img src="/assets/undraw_snack.png" class="d-block mx-lg-auto img-fluid" alt="Snacks image"
                            loading="lazy">
                    </div>
                    <div class="col-md-6">
                        <h1 class="display-5 fw-bold lh-1 mb-3">Snacks</h1>
                        <p class="lead">Oh oh.. sure you want to click here? Delicious unresistable bites and
                            bits here.</p>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                            <a href="/meals/category/snacks?page=1&limit=5"
                                class="btn btn-primary btn-lg px-4 me-md-2">Browse Snacks Category</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- SUGGESTION, reversed-->
        <section class="section-template section-template-opaque section-home-suggestion mt-4 mb-4">
            <div class="container col-xxl-8 px-4 py-5">
                <div class="row align-items-center g-5 py-5">
                    <div class="col-md-6">
                        <img src="/assets/undraw_suggestion.png" class="d-block mx-lg-auto img-fluid"
                            alt="Suggestion image" loading="lazy">
                    </div>
                    <div class="col-md-6">
                        <h1 class="display-5 fw-bold lh-1 mb-3">Suggestion</h1>
                        <p class="lead">Dont know what to cook? Get a suggestion here from past meals.</p>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                            <a href="/meals/suggestion" class="btn btn-primary btn-lg px-4 me-md-2">Get A
                                Suggestion</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- ADD NEW MEAL -->
        <section class="section-template section-template-opaque section-home-addmeal mt-4 mb-4">
            <div class="container col-xxl-8 px-4 py-5">
                <div class="row flex-md-row-reverse align-items-center justify-content-center g-5 py-5">
                    <div class="col-md-6">
                        <img src="/assets/addNewMeal.png" class="d-block mx-lg-auto img-fluid" alt="Add new meal image"
                            loading="lazy">
                    </div>
                    <div class="col-md-6">
                        <h1 class="display-5 fw-bold lh-1 mb-3">Add new meal</h1>
                        <p class="lead">Found a meal you like, click here to add to the collection in two easy
                            steps.</p>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                            <a href="/meals/newMealPage" class="btn btn-primary btn-lg px-4 me-md-2">Add New
                                Meal</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- ABOUT THIS APP, reversed -->
        <section class="section-template section-template-opaque section-home-aboutapp mt-4 mb-4">
            <div class="container col-xxl-8 px-4 py-5">
                <div class="row align-items-center justify-content-center g-5 py-5">
                    <div class="col-md-6">
                        <img src="/assets/undraw_aboutapp.png" class="d-block mx-lg-auto img-fluid"
                            alt="About app image" loading="lazy">
                    </div>
                    <div class="col-md-6">
                        <h1 class="display-5 fw-bold lh-1 mb-3">About This App</h1>
                        <p class="lead">Want to know how this app works and the motivation behind it?.</p>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                            <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Give me the technical
                                details</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- FOOTER -->
        <%- include('partials/footer') %>

            <!-- SCRIPTS -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                crossorigin="anonymous"></script>


</body>

</html>