<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload ImageKit</title>
</head>

<body>
    <form action="#" onsubmit="upload(event)">
        <input type="file" id="file" />
        <input type="submit" />
    </form>
    <script type="text/javascript" src="https://unpkg.com/imagekit-javascript/dist/imagekit.min.js"></script>
    
    <script>

    </script>
    
    <script>
        /* 
            SDK initialization
            authenticationEndpoint is implemented in backedn i.e. server.js file
        */
        var imagekit = new ImageKit({
            publicKey: "public_sByx+wwcY0EsO9JcZ/zGoCx3vts=",
            urlEndpoint: "https://ik.imagekit.io/ptrqyxh4ajrm", // https://ik.imagekit.io/your_imagekit_id
            authenticationEndpoint: "http://localhost:3005/auth"
        });

        // Upload function internally uses the ImageKit.io javascript SDK
        function upload(e) {
          
            e.preventDefault();
            var file = document.getElementById("file");
            imagekit.upload({
                file: file.files[0],
                fileName: file.files[0].name || "sample-file.jpg",
                tags: ["tag1"], // Comma seperated value of tags
                responseFields: "tags" // Comma seperated values of fields you want in response e.g. tags, isPrivateFile etc
            }, function (err, result) {
                if (err) {
                    alert("Error in file upload. Check console logs for error response");
                    console.log(err);
                } else {
                    alert("File uploaded. Check console logs for success response");
                    console.log(result);
                    return result;
                }
            })
        }
    </script>
</body>

</html>