body {
  max-width: 1000px;
  margin: 0 auto;
  min-height: 100vh;
  background-image: url('./assets/backgrounds/Mataura.svg');
  /* background-image: url('./assets/backgrounds/Waimakariri.svg'); too colorfull, repeats */
  margin: 0 auto;
  padding: 0 1rem;
}

.navbar {
  opacity: 0.9;
}

.section-homePageHero {
  /* border: 3px solid rgba(80, 79, 90, 0.5); */
  border-radius: 15px;
  background-color: white;
  box-shadow: 14px 17px 13px -11px rgba(68, 68, 68, 0.37);
  -webkit-box-shadow: 14px 17px 13px -11px rgba(68, 68, 68, 0.37);
  /* opacity: 0.9; */
  
}

/* Used on: practically all sections */
.section-template {
  /* background-color: white; */
  /* border: 1px solid rgba(80, 79, 90, 0.5); */
  border-radius: 15px;
  box-shadow: 0 10px 36px 0 rgba(0,0,0,0.16), 0 0 10px  rgba(0,0,0,0.06), 0 10px 36px 0 rgba(0,0,0,0.16);
  -webkit-box-shadow: 0 10px 36px 0 rgba(0,0,0,0.16), 0 0 10px  rgba(0,0,0,0.06), 0 10px 36px 0 rgba(0,0,0,0.16);;
}

/* Used on: home page */
.section-template-opaque{
  background-color: white;
  opacity: 0.9;
}

/* Used on: AddNewMeal, MealDetails and Suggestion pages */
.section-template__fullHeightSection{
  padding: 1rem;
  /* opacity: 1; */
  background: rgba(255, 255, 255, 0.9);
  min-height: 75vh;
  /* min-height: 85vh; */
  position: relative;
  margin: 0 auto;
}

/* Used on: AddNewMeal, MealDetails and Suggestion pages */
.section-template__fullHeightSection__oneButton{
  width: 100%;
  /* position: absolute;
  bottom: 0; */
}

/* Used on: GetSuggestion and MealDetails pages */
.sectionDivTemplate-singleImageDiv{
  max-height: 400px;
  width: 100%;
}
.sectionDivTemplate-singleImage{
  max-height: 400px;
  background: rgb(255, 255, 255);  
}
/* CATEGORY PAGE */
.card-img-top {
  max-height: 300px;
  object-fit: cover;
}

/* ADD NEW MEAL PAGE */
.form-text {
  margin-top: 0;
}
.form-label {
  margin-bottom: 0;
}
.addNewMealImage-demo {
  height: 350px;
  object-fit: cover;
}

/* EDIT MEAL PAGE */
.section-editmeal-hiddenform{
  /* display: none; */
}

.section-editmeal .section-template__fullHeightSection__oneButton{
position: relative;
}
