
body {
  min-height: 100vh;
  background-color: #F6DC42;
  margin: 0;
  padding: 0;
}

.hero-logo{
  min-height: 86vh;
  position: relative;
}

.arrow-down{
  position: absolute;
  bottom: 100px;
  transform: translateX(-50%)
}
@media (min-width: 800px) {
  .arrow-down{
    bottom: 150px;
  }
}
@media (min-width: 1200px) {
  .arrow-down{
    bottom: 200px;
  }
}
@media (min-width: 1560px) {
  .arrow-down{
    bottom: 240px;
  }
}
.wave-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.hero-features{
  position: relative;
  min-height: 86vh;
  background-color: #273036;
  color: white;
}
.yellow-text{
  color: #F6DC42;
}
.btn-warning{
  background-color: #F6DC42;
  border-color: #F6DC42;
}

footer{
  min-height: 10vh;
}

/* Used on: home page */
.section-template-opaque{
  background-color: white;
  /* opacity: 0.9; */
}

/* Used on: AddNewMeal, MealDetails and Suggestion pages */
.section-template__fullHeightSection{
  padding: 1rem;
  background: rgba(255, 255, 255, 0.9);
  min-height: 75vh;
  position: relative;
  margin: 0 auto;
}

/* Used on: AddNewMeal, MealDetails and Suggestion pages */
.section-template__fullHeightSection__oneButton{
  width: 100%;
}

/* Used on: GetSuggestion and MealDetails pages */
.sectionDivTemplate-singleImageDiv{
  max-height: 400px;
  width: 100%;
}
.sectionDivTemplate-singleImage{
  max-height: 400px;
  background: rgb(255, 255, 255);  
}
/* CATEGORY PAGE */
.card-img-top {
  max-height: 300px;
  object-fit: cover;
}

/* ADD NEW MEAL PAGE */
.form-text {
  margin-top: 0;
}
.form-label {
  margin-bottom: 0;
}
.addNewMealImage-demo {
  height: 350px;
  object-fit: cover;
}

/* EDIT MEAL PAGE */
.section-editmeal-hiddenform{
  /* display: none; */
}

.section-editmeal .section-template__fullHeightSection__oneButton{
position: relative;
}
