<!-- FOOTER -->
            <footer class="pt-3 mt-4">
              <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Browse meals</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Add meal</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Meal planner</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Suggestion</a></li>
              </ul>
              <p class="copyright-footer text-center">© 2022 SANAMEALS.COM</p>
            </footer>
