<footer class="container-fluid footer">
  <div class="footer-width d-flex justify-content-center align-items-center">
    <div class="p-2">
      <a href="/" class="text-muted text-decoration-none">
        <img src="/assets/dinner-128.png" alt="sanameals.com logo" width="30" height="30">
      </a>
    </div>
    <div class="small p-2">©2022 sanameals.com</div>
  </div>
</footer>